.kilogram {
    position: fixed;
    background-color:rgb(199, 90, 190);
    color: rgb(14, 16, 17);
    margin: 10px;
    padding: 10px;
    border: 5px solid #09171b;
    width: 100%;
    height: 100px;
    z-index: 99999;
}

.home {
    position: fixed;
    background-color:rgb(199, 90, 190);
    color: rgb(14, 16, 17);
    margin-top: 12%;
    margin-left: 10px;
    padding: 10px;
    border: 5px solid #09171b;
    width: 20%;
    height: 50px;
}

.search {
    position: fixed;
    background-color: rgb(199, 90, 190);
    color: rgb(14, 16, 17);
    margin-top: 19%;
    margin-left: 10px;
    padding: 10px;
    border: 5px solid #09171b;
    width: 20%;
    height: 50px;
}

.explore {
    position: fixed;
    background-color: rgb(199, 90, 190);
    color: rgb(14, 16, 17);
    margin-top: 26%;
    margin-left: 10px;
    padding: 10px;
    border: 5px solid #09171b;
    width: 20%;
    height: 50px;
}

.reels {
    position: fixed;
    background-color: rgb(199, 90, 190);
    color: rgb(14, 16, 17);
    margin-top: 33%;
    margin-left: 10px;
    padding: 10px;
    border: 5px solid #09171b;
    width: 20%;
    height: 50px;
}

.messages {
    position: fixed;
    background-color: rgb(199, 90, 190);
    color: rgb(14, 16, 17);
    margin-top: 40%;
    margin-left: 10px;
    padding: 10px;
    border: 5px solid #09171b;
    width: 20%;
    height: 50px;
}

.img1 {
    position: relative;
    margin-left: 70%;
    right: 220px;
    width: 300px;
    height: 300px;
    top: 180px;
    bottom: 300px;
    background-color: rgb(87, 189, 189);
    color: rgb(21, 25, 26);
    padding: 10px;
    border: 5px solid #0a252e;
}

.img2 {
    position: relative;
    margin-left: 70%;
    right: 220px;
    width: 300px;
    height: 300px;
    top: 230px;
    bottom: 300px;
    background-color: rgb(87, 189, 189);
    color: rgb(21, 25, 26);
    padding: 10px;
    border: 5px solid #0a252e;
}

.img3 {
    position: relative;
    margin-left: 70%;
    right: 220px;
    width: 300px;
    height: 300px;
    top: 270px;
    bottom: 300px;
    background-color: rgb(87, 189, 189);
    color: rgb(21, 25, 26);
    padding: 10px;
    border: 5px solid #0a252e;
}

.img4 {
    position: relative;
    margin-left: 70%;
    right: 220px;
    width: 300px;
    height: 300px;
    top: 310px;
    bottom: 300px;
    background-color: rgb(87, 189, 189);
    color: rgb(21, 25, 26);
    padding: 10px;
    border: 5px solid #0a252e;
}

.img5 {
    position: relative;
    margin-left: 70%;
    right: 220px;
    width: 300px;
    height: 300px;
    top: 350px;
    bottom: 300px;
    background-color: rgb(87, 189, 189);
    color: rgb(21, 25, 26);
    padding: 10px;
    border: 5px solid #0a252e;
}

.img {
    width: 200px;
    height: 200px;
}

