/* Adjusted styles for the .KILOGRAM class */
.KILOGRAM {
    position: fixed;
    background-color: rgb(90, 199, 199);
    color: rgb(14, 16, 17);
    margin: 10px;
    padding: 10px;
    border: 5px solid #09171b;
}

/* Adjusted styles for the .HOME class */
.HOME {
    position: fixed;
    left: 0;
    width: 300px;
    background-color: rgb(87, 189, 189);
    color: rgb(21, 25, 26);
    margin-top: 10px;
    padding: 10px;
    border: 5px solid #0a252e;
}

/* Adjusted styles for the .SEARCH class */
.SEARCH {
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 300px;
    top: 10px;
    background-color: rgb(87, 189, 189);
    color: rgb(21, 25, 26);
    margin: 10px;
    padding: 10px;
    border: 5px solid #0a252e;
}

/* Adjusted styles for the .EXPLORE class */
.EXPLORE {
    position: fixed;
    left: 0;
    width: 300px;
    top: 10px;
    background-color: rgb(87, 189, 189);
    color: rgb(21, 25, 26);
    margin: 10px;
    padding: 10px;
    border: 5px solid #0a252e;
}

/* Adjusted styles for the .REELS class */
.REELS {
    position: fixed;
    left: 0;
    width: 300px;
    top: 10px;
    background-color: rgb(87, 189, 189);
    color: rgb(21, 25, 26);
    margin: 10px;
    padding: 10px;
    border: 5px solid #0a252e;
}

/* Adjusted styles for the .MESSAGES class */
.MESSAGES {
    position: fixed;
    left: 0;
    width: 300px;
    top: 10px;
    background-color: rgb(87, 189, 189);
    color: rgb(21, 25, 26);
    margin: 10px;
    padding: 10px;
    border: 5px solid #0a252e;
}

/* Adjusted styles for the .USERNAME class */
.USERNAME {
    position: relative;
    margin-left: 450px;
    right: 220px;
    width: 500px;
    height: 500px;
    top: 20px;
    bottom: 300px;
    background-color: rgb(87, 189, 189);
    color: rgb(21, 25, 26);
    padding: 10px;
    border: 5px solid #0a252e;
}